@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto',sans-serif;
}

.grid-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: minmax(260px, 15%) 1fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
    "s h"
    "s cc";
}

.header-container {
    grid-area: h;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.sidebar {
    grid-area: s;
    background-color: #8b5cf6;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 3em;
    padding-left: 2em;
    gap: 2em;
    box-shadow: rgba(0, 0, 0, 0.04) 2px 0px 5px;
}

.content-container {
    grid-area: cc;
    display: grid;
    grid-template-columns: 1fr 20%;
    grid-template-areas:
    "ccd ann"
    "ccd trend";
}

.your-projects {
    grid-area: ccd;
    
}

.announcements-container {
    grid-area: ann;
}

.trending-container {
    grid-area: trend;
}

.dashboard-header {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.sidebar-link {
    display: flex;
    gap: 8px;
    padding: 1em;
}

.s-list {
    font-weight: 500;
    font-size: 18px;
}

.dashboard-content {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 0.5em;
}

.searchbar {
    width: 700px;
    height: 24px;
    all: unset;
    background-color: #e4dafc;
    border-radius: 1em;
    padding: 6px 24px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 8px;
}

.project-icons {
    display: flex;
    align-items: center;
    gap: 1em;
}

.avatar-mini {
    border-radius: 50em;
    height: auto;
    width: 4em;
}

.header-profile {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em;
    padding-right: 2em;
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 3em;
    
}

.bottom-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4em 2em 3em;
}

.hi-content {
    display: flex;
    align-items: center;
    gap: 1em;
    /* padding: 0 0 1em 3em; */
}

.avatar {
    border-radius: 50em;
    height: auto;
    width: 5em;
}

.hi-text {
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    padding: 1em 2em;
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: #8b5cf6;
    border-radius: 2em;
    margin: 0 8px;
}